<fury-page-layout mode="card">

    <fury-page-layout-content [@fadeInUp]>
        <fury-list name="DetalleArticulo" [columns]="columns" (filterChange)="onFilterChange($event)">

            <table [dataSource]="dataSource" mat-table matSort>

                <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

                <!-- Checkbox Column -->
                <ng-container matColumnDef="checkbox">
                    <th *matHeaderCellDef class="actions-cell" mat-header-cell>
                        <mat-checkbox color="primary" (click)="$event.stopPropagation()"></mat-checkbox>
                    </th>
                    <td *matCellDef="let row" class="actions-cell" mat-cell>
                        <mat-checkbox color="primary" (click)="$event.stopPropagation()"></mat-checkbox>
                    </td>
                </ng-container>

                <ng-container matColumnDef="image">
                    <th *matHeaderCellDef class="image-cell" mat-header-cell></th>
                    <td *matCellDef="let row" class="image-cell" mat-cell>
                        <img src="assets/img/marketplace/bicicleta-{{ row.id }}.png">
                    </td>
                </ng-container>

                <!-- fullName Column -->
                <ng-container *ngFor="let column of columns">
                    <ng-container *ngIf="column.isModelProperty" [matColumnDef]="column.property">
                        <th *matHeaderCellDef mat-header-cell mat-sort-header> {{ column.name }}</th>
                        <td *matCellDef="let row" mat-cell>
                            {{ row[column.property] }}
                        </td>
                    </ng-container>
                </ng-container>


                <!-- actions Column -->
                <ng-container matColumnDef="actions">
                    <th *matHeaderCellDef class="actions-cell" mat-header-cell mat-sort-header></th>
                    <td *matCellDef="let row" class="actions-cell" mat-cell>
                        <button type="button" mat-icon-button (click)="$event.stopPropagation()">
              <mat-icon>more_horiz</mat-icon>
            </button>

                        <!--            <mat-menu #actionsMenu="matMenu" yPosition="below" xPosition="before">-->
                        <!--              <button (click)="updateCustomer(row)" mat-menu-item>-->
                        <!--                <span>Editar</span>-->
                        <!--              </button>-->
                        <!--              <button (click)="deleteCustomer(row)" mat-menu-item>-->
                        <!--                <span>Eliminar</span>-->
                        <!--              </button>-->
                        <!--            </mat-menu>-->
                    </td>
                </ng-container>

                <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
                <tr *matRowDef="let row; columns: visibleColumns;" class="clickable route-animations-elements" mat-row></tr>
            </table>



            <button class="tablink" onClick="openPage('Reseña', this, 'red')" id="defaultOpen">Reseña</button>
            <button class="tablink" onClick="openPage('Puntuación', this, 'green')">Puntuación</button>


            <div id="Reseña" class="tabcontent">


                <h3>Reseña</h3>

                <table>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Points</th>
                    </tr>
                    <tr>
                        <td>Jill</td>
                        <td>Smith</td>
                        <td>50</td>
                    </tr>
                    <tr>
                        <td>Eve</td>
                        <td>Jackson</td>
                        <td>94</td>
                    </tr>
                    <tr>
                        <td>Adam</td>
                        <td>Johnson</td>
                        <td>67</td>
                    </tr>
                </table>

                <p>Reseña is where the heart is..</p>
            </div>

            <div id="Puntuación" class="tabcontent">

                <h3>Puntuación</h3>
                <p>Some news this fine day!</p>
            </div>

        </fury-list>

    </fury-page-layout-content>
</fury-page-layout>