<fury-page-layout mode="card">

    <fury-page-layout-content [@fadeInUp]>
        <fury-list name="DetalleArticulo" [columns]="columns" (filterChange)="onFilterChange($event)">

            <table [dataSource]="dataSource" mat-table matSort>

                <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

                <!-- Checkbox Column -->
                <ng-container matColumnDef="checkbox">
                    <th *matHeaderCellDef class="actions-cell" mat-header-cell>
                        <mat-checkbox color="primary" (click)="$event.stopPropagation()"></mat-checkbox>
                    </th>
                    <td *matCellDef="let row" class="actions-cell" mat-cell>
                        <mat-checkbox color="primary" (click)="$event.stopPropagation()"></mat-checkbox>
                    </td>
                </ng-container>

                <ng-container matColumnDef="image">
                    <th *matHeaderCellDef class="image-cell" mat-header-cell></th>
                    <td *matCellDef="let row" class="image-cell" mat-cell>
                        <img src="assets/img/marketplace/bicicleta-{{ row.id }}.png">
                    </td>
                </ng-container>

                <!-- fullName Column -->
                <ng-container *ngFor="let column of columns">
                    <ng-container *ngIf="column.isModelProperty" [matColumnDef]="column.property">
                        <th *matHeaderCellDef mat-header-cell mat-sort-header> {{ column.name }}</th>
                        <td *matCellDef="let row" mat-cell>
                            {{ row[column.property] }}
                        </td>
                    </ng-container>
                </ng-container>


                <!-- actions Column -->
                <ng-container matColumnDef="actions">
                    <th *matHeaderCellDef class="actions-cell" mat-header-cell mat-sort-header></th>
                    <td *matCellDef="let row" class="actions-cell" mat-cell>
                        <button type="button" mat-icon-button (click)="$event.stopPropagation()">
              <mat-icon>more_horiz</mat-icon>
            </button>

                        <!--            <mat-menu #actionsMenu="matMenu" yPosition="below" xPosition="before">-->
                        <!--              <button (click)="updateCustomer(row)" mat-menu-item>-->
                        <!--                <span>Editar</span>-->
                        <!--              </button>-->
                        <!--              <button (click)="deleteCustomer(row)" mat-menu-item>-->
                        <!--                <span>Eliminar</span>-->
                        <!--              </button>-->
                        <!--            </mat-menu>-->
                    </td>
                </ng-container>

                <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
                <tr *matRowDef="let row; columns: visibleColumns;" class="clickable route-animations-elements" mat-row></tr>
            </table>




        </fury-list>

        <div fxLayout="column" fxLayoutGap="8px"  [style.visibility]="permisoCarrito ? 'visible' : 'hidden'" >
            <button mat-raised-button color="primary" (click)="agregarCarrito()"  >Agregar carrito</button>
        </div>

        <div class="fury-preview-card" fxLayout="column" fxLayout.gt-sm="row">

            <div class="content" fxFlex>
                <div class="header">
                    <div class="title">CONOCE MÁS...</div>
                    <div class="tag"></div>
                </div>

                <mat-tab-group class="tabs fury-tabs">
                    <mat-tab label="Reseña">
                        <p class="tab-content">
                            Many things in life seem to hold us back. There are always errands to run, dishes to do, bills to pay, and it all gets in the way of what you really want to do: ride. Hop on the 26” Men’s Mongoose Status 2.2 mountain bike for a ride that won’t hold you
                            back. Featuring a strong aluminum frame with hydroformed tubing and a powerful suspension fork to smooth out bumps, the Status 2.2 is ready for your next adventure. A 21-speed rear derailleur guarantees quick shifting and the
                            right gearing for any trail you encounter. Light and strong alloy rims add durability and support knobby 2.125” wide mountain tires that roll over anything in your path. Classic front and rear V-brakes help you control your
                            speed and stop on a dime. Don’t let life hold you back - get out and ride with the Status 2.2. Finally, a mountain bike that elevates your ride and won't break the bank along the way. There’s nothing you can’t do on a Mongoose.
                            <br>
                            <br><span class="semi-bold">About...</span>
                            <br><span class="semi-bold">Aluminum MTB frame with hydroformed tubing and a powerful front suspension fork is strong and reliable; 26-inch wheels fit riders 64 to 74 inches tall</span>
                            <br><span class="semi-bold">21-speed shifters make for smooth gear changes on every ride</span>
                            <br><span class="semi-bold">Riser handlebar with colored end plugs completes the MTB look</span>
                        </p>
                    </mat-tab>
                    <mat-tab label="Puntuación">
                        <div class="preview-content" fxLayout="column" fxLayoutAlign="start " fxLayoutGap="24px">
                            <mat-list class="list mat-elevation-z1 card">

                                <mat-list-item>
                                    <h3 matLine>Elizabeth</h3>
                                    <img mat-list-avatar src="assets/img/avatars/1.png">
                                    <p matLine>
                                        <span class="subline">Buen Producto</span>
                                    </p>
                                </mat-list-item>
                                <mat-list-item>
                                    <h3 matLine>Marco</h3>
                                    <img mat-list-avatar src="assets/img/avatars/2.png">
                                    <p matLine>
                                        <span class="subline">Buena entrega</span>
                                    </p>
                                </mat-list-item>
                                <mat-list-item>
                                    <h3 matLine>Nancy</h3>
                                    <img mat-list-avatar src="assets/img/avatars/3.png">
                                    <p matLine>
                                        <span class="subline">Regular producto, llego defectuoso</span>
                                    </p>
                                </mat-list-item>
                                <mat-divider></mat-divider>
                                <h3 mat-subheader>Other</h3>
                                <mat-list-item>
                                    <h3 matLine>Frank</h3>
                                    <img mat-list-avatar src="assets/img/avatars/4.png">
                                    <p matLine>
                                        <span class="subline">Problemas</span>
                                    </p>
                                </mat-list-item>
                                <mat-list-item>
                                    <h3 matLine>Donald</h3>
                                    <img mat-list-avatar src="assets/img/avatars/1.png">
                                    <p matLine>
                                        <span class="subline">Excelente producto</span>
                                    </p>
                                </mat-list-item>
                            </mat-list>
                        </div>


                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>


    </fury-page-layout-content>
</fury-page-layout>