<fury-page-layout mode="card">

    <h1>Marktplace</h1>
    <div class="person">
        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="40px">
            <mat-form-field fxFlex>
                <mat-label>Name</mat-label>
                <input type="text" matInput value="nueva en el mercado" disabled>
            </mat-form-field>
        </div>
    </div>




    <div class="person">
        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
            <mat-form-field fxFlex>
                <mat-label>Description</mat-label>
                <input type="text" matInput value="100% en aluminio" disabled>
            </mat-form-field>
        </div>
    </div>



    <div class="person">
        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
            <mat-form-field fxFlex>
                <mat-label>Price</mat-label>
                <input type="text" matInput value="900.99" disabled>
            </mat-form-field>
        </div>
    </div>

    <div class="person">
        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
            <mat-form-field fxFlex>
                <mat-label>Stock</mat-label>
                <input type="text" matInput value="200 productos" disabled>
            </mat-form-field>
        </div>
    </div>



    <div class="btn-group">
        <button>Agregar carrito</button>

    </div>


</fury-page-layout>